<section class="tab-container-master">
    <section class="tabs-container oic-container">
        <section data-active-state="ad-border-b-1,ad-border-blue-header"
            class="tabs-master">
            <input data-tab="tab-{15515F57-FE56-4C2F-B195-9DD295062C7F}" type="button"
                value="Create new rule"
                class="data-tab-control ad-cursor-pointer">
            <input data-tab="tab-{FE839DDB-9101-4526-96F7-4DB4BC5B3FF5}" type="button" value="Rules"
                class="data-tab-control ad-cursor-pointer">
            <!-- To activate any button just add oic-border-b-1 oic-border-green-100 oic-text-green-100 classes -->
        </section>
    </section>
    <section class="">

        <section class="oic-bg-white tab-content tab-{15515F57-FE56-4C2F-B195-9DD295062C7F}">
            asdfasdfasdf
        </section>
        <section class="oic-bg-white tab-content ad-hidden tab-{FE839DDB-9101-4526-96F7-4DB4BC5B3FF5} oic-hidden">
            345234523452345
        </section>
    </section>
</section>